<div class="container">
  <div class="register">
    <a routerLink="/">Home</a>
    <a routerLink="/login-form">Sign in</a>
  </div>
  <form class="authentication-form" name="authentication-form">
    <div class="authentication-form-element">
      <label for="authentication-form-login">Login</label>
      <input type="text"
             id="authentication-form-login"
             name="authentication-form__login"
             class="authentication-form__input"
             placeholder="Enter Your login"
             [(ngModel)]="userRegisterInfo.userLogin">
    </div>
    <div class="authentication-form-element">
      <label for="authentication-form-password">Password</label>
      <input type="password"
             id="authentication-form-password"
             name="authentication-form__password"
             class="authentication-form__input"
             placeholder="Enter Your password"
             [(ngModel)]="userRegisterInfo.userPassword">
    </div>
    <div class="authentication-form-element">
      <label for="authentication-form-submit-password">Password</label>
      <input type="password"
             id="authentication-form-submit-password"
             name="authentication-form__password"
             class="authentication-form__input"
             placeholder="Enter Your password"
             [(ngModel)]="userRegisterInfo.userSubmitPassword">
    </div>
    <div class="authentication-form-element__button">
      <button class="authentication-form__button" (click)="tryRegister()">Register</button>
    </div>
  </form>
</div>
